.form {
    background-color: #fff;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem .7rem .7rem .7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 320px;
  }
  
  .form-title {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
   
    
  }
  
  .form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
  }
  
  .drop-container {
    background: #fffbeb;
    height: 250px;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #FFFDF7;
    border-color: #222;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  
  #file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }
  
  #file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #6798C0;
    padding: 10px 20px;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  #file-input::file-selector-button:hover {
    background: #99D6EA;
  }