.bold {
    font-weight: bold;
}
.feed-container{
    padding-top:60px;
    margin-left:272px;
}

.margin-20 {
    margin:20px;
}

.background-image{
    background-image: url(../images/aboutuspage.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
}

.justify-text{
    text-align: justify;
}

.center-text{
    text-align: center;
}

.pt-150{
    padding-top: 150px;
}

.text-size-150{
    font-size: 150px;
}

.font-colour-white{
    color: #FFFDF7;
}

.content-center{
    display: block;
    margin: auto;
    width: 100%;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .align-items-end {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }